{deps, [
  {lager, ".*",
    {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {thrift, ".*",
    {git, "https://github.com/radekg/thrift-erlang.git", "master"}},
  {uuid, ".*",
    {git, "https://github.com/radekg/uuid.git", "master"}}
]}.

{require_otp_vsn, "17"}.

{erl_opts, [{i, "./include"}]}.